<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Semiversus{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Günther Jena">
  <meta name="google-site-verification" content="O-3LVEziPiVrCYqFCwbLmB3s7lNG__cPMLLAr_RUxbA" />
  <link rel="stylesheet" href="{{ root_path }}/theme/css/semiversus.css">
  <link rel="icon" href="{{ root_path }}/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
  {% block header %}{% endblock %}
</head>
<body>
  <nav class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-5 has-text-weight-semibold" href="{{ root_path }}/index.html">SEMIVERSUS</a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="{{ root_path }}/index.html">Blog</a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="{{ root_path }}/dic/uebersicht.html">Unterricht</a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="{{ root_path }}/projekte.html">Projekte</a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="{{ root_path }}/about.html">Über mich</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-info is-small">
    <div class="hero-body">
      <div class="container is-max-desktop"><h1 class="title">{{ page.title }}</h1></div>
    </div>
  </section>

  <section class="hero is-small">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <div class="columns">
          <div class="column is-three-quarters">
            {% block head %}{% endblock %}
            <div class="content">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer is-small">
    <div class="content has-text-centered">
      <p>Günther Jena |
      </p>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
  </script>
</body>
</html>
