{% extends "page.html" %}
{% block content %}
  {{ page.content }}

  {% for article in env['articles'] if page.english == article.english and article.draft != True %}
    <div class="box mb-5">
      <p class="title is-4"><a href="{{ root_path }}/{{ article.url }}">{{ article.title }}</a></p>
      <div class="columns">
        <div class="column{% if article.thumbnail %} is-two-thirds{% endif %}">
          <p>{{ article.date.strftime('%-d.%-m.%Y') }}</p>
          {{ article.summary }}
          <p><a href="{{ root_path }}/{{ article.url }}">{{ 'Read more...' if page.english else 'Weiterlesen...'}}</a></p>
        </div>
        {% if article.thumbnail %}
        <div class="column">
          <a href="{{ root_path }}/{{ article.url }}"><img src="{{ root_path }}/{{ article.thumbnail }}" alt="{{ 'Thumbnail for' if page.english else 'Vorschaubild für' }} &quot;{{ article.title }}&quot;"></img></a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

{% endblock content %}
