{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block head %}
  {% if page.parent %}<nav class="breadcrumb"><ul>{% for p in page.parent_list[:-1] %}<li><a href="{{ root_path }}/{{p.url}}">{{p.title}}</a></li>{% endfor %}<li class="is-active"><a href="#">{{ page.title }}</a></li></ul></nav>{% endif %}
{% endblock %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block sidebar %}
  {% if page.toc and not page.protected %}
    <nav class="well well-sm" data-spy="affix" data-offset-top="0" id="sidebar">
    {{ page.toc }}
    </nav>
  {% endif %}
{% endblock %}
