name: Build Website

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python and uv
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: uv pip install -e .
      - name: Build website
        run: uv run aestatic
      - name: Deploy website
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avz
          path: output/
          remote_path: ~/website
          remote_host: semiversus.com
          remote_user: deploy_website
          remote_key: ${{ secrets.REMOTE_KEY }}
